.todo-checkbox {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 10px;
}

.todo-status {
    margin-left: 10px;
}

.todo-right {
    margin-top: 7px;
}

.todo-move-icon {
    cursor: move;
}